.App {
  text-align: center;

}

body{
  align-items: center;
}

.form{
  background-color: white;
  border-radius: 10px;
  height: 80px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 61%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.comment{
  background-color: white;
  border-radius: 10px;
  height: 120px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  margin: 10px auto 10px auto;
  width: 60%;

}

button{
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  margin-top: 25px;
  
}
button:hover{
  cursor: pointer;
}

.Dp{
  
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
textarea{
  width: 100%;
  margin: 0 10px;
  resize: none;
  border-radius: 5px;
  overflow: auto;
}

button.reply{
  background-color: transparent;
  color: blue;
  font-size: larger;
  font-weight: bolder;
  margin-top: -8.6px;
}
.reply_area , .reply_area_mobile{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  
}
.reply_area:hover,.reply_area_mobile:hover .faPlus:hover , .faMinus:hover{
  cursor:pointer;
  
}

div.mobiles{
  display: none;
}

.voteBoard{
  background-color: lightgray;
  color: rgb(67, 65, 65);
  border-radius: 10px;
  padding: 8px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  height: 80px;
  padding-top: 28px;
}
.voteBoard_mobile{
  background-color: lightgray;
  color: rgb(67, 65, 65);
  border-radius: 10px;
  padding: 8px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  width: 30vw;
  padding: 5%;
  justify-content: space-between;
}

.middle_comment_part{
  display: flex;
  flex-direction: column;
 
  height: 100vh;
  margin-top: -20px;
}

.comment_upper_part{
  display: flex;
  flex-direction: row;
  
  padding: -18px;
}

.userName{
  margin-right: 20px;
}

.replyForm{
  display: none;

}
.RamReplyForm{
  display: none;
  width: 56.5%;
}
.ramForm{
  width: 56.5%;
  margin-right: 19%;
}
.reply{
  background-color: white;
  border-radius: 10px;
  height: 120px;
  display: flex;
  
  padding: 10px;
  justify-content: space-between;
  margin: 10px auto 10px auto;
  width: 56.5%;
  margin-left: 23%;
  margin-right: -40%;
 
 
}

.mobiles , .mobiles_CRUD {
  display: flex;
  flex-direction: row;
  height: 5%;
  justify-content: space-between;
  margin-top: 15%;
}

.mobiles_CRUD{
  display: none;
  margin-top: 15%;
}


/* Styles for small screens (up to 767px) */
@media (max-width: 767px) {
  /* Add your styles for small screens here */
  .form,.comment,.reply{
   width: 100%;
   height: 35vh;
   padding: 2%;
  }
  .form{
    height: 15vh;
  }

  .reply{
    display: flex;
    margin:auto;
    margin-bottom: 5%;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }

  

  .voteBoard{
    display: none;
  }

  .reply_area{
    display: none;
  }

  button.crudDesktop{
    display: none;    
  }

  .voteSection_mobile{
    display: initial;
  }

  .mobile_part{
    display: initial;
  }
  div.mobiles{
    margin-top: -1%;
    display: flex;
    
  }

  button.reply.reply_area_mobile{
    margin-top : 5%;
  }

  .mobiles_CRUD{
    display: initial;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    justify-content: space-between;
  }

  textarea{
    height: 13.5vh;
    
  }
  body{
   font-size: 15px;
   line-height: 1.5;
  }

  

}

/* Styles for medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Add your styles for medium screens here */
  .responsive_voteSection{
    display: none;
    margin: 50px;
  }
}

/* Styles for large screens (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Add your styles for large screens here */
  .responsive_voteSection{
    display: none;
  }
  
}

/* Styles for extra-large screens (1200px and above) */
@media (min-width: 1200px) {
  /* Add your styles for extra-large screens here */
  .responsive_voteSection{
    display: none;
  }
}

